tb_log/
tb_log_backup/
gif/
evaluation/

screen_log/
screen_log_backup/
save/
hparamDB/
gifs/
figs/
paperutils/
videos/

!envs/assets/cf2x_default.urdf
!envs/assets/quad.obj
!envs/assets/cf2.dae
envs/assets/