<?xml version="1.0"?>
<launch>
    <arg name="uri" default="radio://0/100/2M/E7E7E7E701" />
    <arg name="frame" default="/vicon/CF_JACK/CF_JACK" />
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="x" default="0.1985" />
    <arg name="y" default="-0.8379" />
    <arg name="z" default="1.5" />
    <arg name="worldFrame" value="/vicon/world" />

    <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
    </include>

    <group ns="crazyflie">
        <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
            <arg name="uri" value="$(arg uri)" />
            <arg name="tf_prefix" value="crazyflie" />
            <arg name="enable_logging" value="False" />
        </include>

        <node name="joy" pkg="joy" type="joy_node" output="screen">
            <param name="dev" value="$(arg joy_dev)" />
        </node>

        <node name="joystick_controller" pkg="sim2real" type="controller.py" output="screen">
            <param name="use_crazyflie_controller" value="True" />
        </node>
    </group>

</launch>
